.container {
    background-color: #F2F2F2;
}

.welcome {
    color: #48182C;
}

.header {
    background-image: url(../images/snowylodge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    mask-image: linear-gradient(black 90%, transparent);
    -webkit-mask-image: linear-gradient(black 90%, transparent);
}

/* Fade-in effect for the toast */
.toast {
    animation: fade-in 1s;
    position: fixed;
    top: 65px;
    right: 1px;
    z-index: 999;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Makes the checkbox text visible on-disabled */
/* Not in use */
.disable-checkbox-only + .form-check-label {
    opacity: 1;
    cursor: default;
}

.btn-success {
    background-color: #1BE299;
    color: #680979;
}

::deep button.btn-default {
    background-color: #6B3E75;
    color: white;
    width: 160px;
    margin-top: 10px;
}