@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Localization
@using RentalCheckIn.Locales
@inject IStringLocalizer<Resource> Localizer

@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <a href="logout" class="btn btn-danger btn-sm rounded-3 mt-4 m-md-0">@Localizer["Logout"]</a>
    </Authorized>
    <NotAuthorized>
        <a href="login" class="btn btn-primary btn-sm rounded-pill mt-4 m-md-0">@Localizer["Login"]</a>
    </NotAuthorized>
</AuthorizeView>    