@using System.Globalization

<div>
    <select @bind="Culture" class="form-select-sm bg-transparent text-white">
        <option class="text-black" value="en-EN">EN</option>
        <option class="text-black" value="fr-FR">FR</option>
        <option class="text-black" value="nl-NL">NL</option>
    </select>
</div>

@code
    {
    [Inject]
    private NavigationManager Navigation { get; set; }

    protected override void OnInitialized()
    {
        Culture = CultureInfo.CurrentCulture;
    }

    private CultureInfo Culture
    {
        get
        {
            return CultureInfo.CurrentCulture;
        }
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var uri = new Uri(Navigation.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
                var cultureEscaped = Uri.EscapeDataString(value.Name);
                var uriEscaped = Uri.EscapeDataString(uri);

                Navigation.NavigateTo($"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}", forceLoad: true);
            }
        }
    }
}