@page "/email-confirmation"
@inherits ConfirmEmailBase

<h3>Email Verification</h3>
@if (isSuccess)
{
    <p class="text-success">@Message</p>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="text-danger">Error verifying your email: @errorMessage</p>
}

<button class="btn btn-success" onclick="@(() => HandleVerifyEmail())">Verify Email</button>
