@page "/email-confirmation"
@inherits ConfirmEmailBase
@using Microsoft.Extensions.Localization
@using RentalCheckIn.Locales

<div class="container-fluid text-white">
    <div class="row">
        <div class="col-12 col-md-6 py-5 full-height text-center left-half">
            <h3 class="mt-5 pt-4">@Localizer["WelcomeMessage"]</h3>
        </div>
        <div class="col-12 col-md-6 full-height">
            <div class="mx-auto col-10 col-sm-8 col-md-8 col-lg-8 mt-5 mt-md-3 pt-2">

                @if (!string.IsNullOrEmpty(Message))
                {
                    <div class="toast align-items-center p-2 @BackGroundColor position-fixed top-1 end-0 @DisplayToast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                @if (BackGroundColor == "bg-success")
                                {
                                    <strong>Success! </strong>
                                }
                                @Message
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" @onclick="HandleCloseToast"></button>
                        </div>
                    </div>
                }

                <button class="btn btn-success" onclick="@(() => HandleLogin())">@Localizer["Login"]</button>
            </div>
        </div>
    </div>
</div>