@page "/"
@inherits HomeBase

<PageTitle>Reservations</PageTitle>

<h3>Welcome to the Protected Home Page!</h3>

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.FindFirst("unique_name")?.Value!</p>
        <p>Your role: @context.User.FindFirst("role")?.Value!</p>
        <p><a href="/logout">Logout</a></p>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to view this page. Please <a href="/login">login</a>.</p>
    </NotAuthorized>
</AuthorizeView>

