

.left-half {
    background-image: url(../images/snowylodge.jpg);
    background-size: cover;
}

.full-height {
    height: 100vh;
}

@media (max-width: 768px) {
    .full-height {
        height: auto;
    }
}