@page "/login"
@inherits LoginBase

<style>

</style>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}
<div class="container-fluid text-white text-center">
    <div class="row">
        <div class="col-12 col-md-6 full-height left-half">
            <h3 class="mt-5 pt-4">Unwind, Relax, and Stay Awhile</h3>
        </div>
        <div class="col-12 col-md-6 full-height">
            <p class="" >Welcome Back!</p>
            <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
                <DataAnnotationsValidator />

                <InputText @bind-Value="loginModel.Email" placeholder="Email" />
                <ValidationMessage For="@(() => loginModel.Email)" />
                <InputText @bind-Value="loginModel.Password" placeholder="Password" type="password" />
                <ValidationMessage For="@(() => loginModel.Password)" />
                <button type="submit">Login</button>
            </EditForm>
        </div>
    </div>
</div>