@page "/login"
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@inject HttpClient Http
<h3>Login</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <InputText @bind-Value="loginModel.Email" placeholder="Email" />
    <InputText @bind-Value="loginModel.Password" placeholder="Password" type="password" />
    <button type="submit">Login</button>
</EditForm>

@code {
    private HostLoginDto loginModel = new();
    private string ErrorMessage;
    [Inject]
    private ProtectedLocalStorage LocalStorage { get; set; }

    private async Task HandleLogin()
    {
        var result = await AuthService.LoginAsync(loginModel);
        if (result.Success)
        {
            var lHost = result.Host;
            // Store email for OTP verification
            await LocalStorage.SetAsync("emailForOtp", lHost.MailAddress);
            NavigationManager.NavigateTo("/verify-otp");
        }
        else
        {
            ErrorMessage = result.Message;
        }
    }
}
