@page "/logout"
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Mark user as logged out
        await LocalStorage.RemoveItemAsync("token");
        Constants.JWTToken = "";
        await AuthStateProvider.GetAuthenticationStateAsync();
        // Redirect to login page
        NavigationManager.NavigateTo("/login");
    }

}
