.left-half {
    background-image: url(../images/snowylodge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.full-height {
    height: 100vh;
}

/* Fade-in effect for the toast */
.toast {
    animation: fade-in 1s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

::deep .form-control {
    border: 2px solid #FFC857 !important;
}

    ::deep .form-control.invalid {
        border: 1px solid #dc3545 !important;
    }

::deep ::placeholder {
    color: white;
}

::deep .fw-bold {
    font-weight: 500 !important;
}

@keyframes fadeDropDown {
    0% {
        opacity: 0;
        /* Start slightly above */
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        /* End in the normal position */
        transform: translateY(0);
    }
}

.totp-msg {
    /* Initial state */
    opacity: 0;
    /* Duration and easing */
    animation: fadeDropDown 1.5s ease forwards;
}

.totp-code {
    /* Initial state */
    opacity: 0;
    /* Duration and easing */
    animation: fadeDropDown 1.8s ease forwards;
}

.form-check {
    height: 7rem;
    width: 7rem;
}
 
::deep .form-check input[type="radio"] {
    cursor: pointer;
    z-index: 2;
}

.form-check .radio-tile {
    transition: all 300ms ease;
}

input:checked + .radio-tile {
    background-color: white;
    box-shadow: 0 0 12px #FFC857;
}

input:hover + .radio-tile {
    box-shadow: 0 0 12px #FFC857;
}

input:checked + .radio-tile span,
input:checked + .radio-tile label {
    color: black;
}

@media (max-width: 768px) {
    .full-height {
        height: auto;
    }
}
