@page "/password-reset-request"
@inherits RequestPasswordResetBase

<div class="container-fluid text-white">
    <div class="row">
        <div class="col-12 col-md-6 full-height text-center left-half">
            <h3 class="mt-5 pt-4">Unwind, Relax, and Stay Awhile</h3>
        </div>
        <div class="col-12 col-md-6 full-height">
            <div class="mx-auto col-8 mt-1">

                <p class="fs-3 mt-5 pt-3">Password recovery</p>
                <p class="mb-5">
                    Enter the email address associated with your account.
                </p>
                <EditForm Model="resetModel" OnValidSubmit="HandleValidSubmit">
                    <DataAnnotationsValidator />

                    <div class="form-group">
                        <InputText class="bg-transparent text-white rounded-pill form-control" @bind-Value="resetModel.Email" placeholder="Email" />
                        <ValidationMessage For="@(() => resetModel.Email)" />
                    </div>

                    <button type="submit" class="btn btn-primary myrequestpass-btn">
                        @if (ShouldSpin)
                        {
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        }
                        Send Reset Link
                    </button>
                </EditForm>

                @if (!string.IsNullOrEmpty(Message))
                {
                    <p class="text-info ms-2">@Message</p>
                }

            </div>
        </div>
    </div>
</div>
