@page "/verify-faceid"
@inherits VerifyFaceIdBase
@using Microsoft.Extensions.Localization
@using RentalCheckIn.Locales

<PageTitle>Verify Face ID</PageTitle>

<div class="container-fluid text-white">
    <div class="row">
        <div class="col-12 col-md-6 py-5 full-height text-center left-half">
            <h3 class="mt-5 pt-4">@Localizer["WelcomeMessage"]</h3>
        </div>
        <div class="col-12 col-md-6 full-height">
            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <div class="toast align-items-center p-2 bg-danger position-fixed top-0 end-0 z-2 @DisplayToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="3000">
                    <div class="d-flex">
                        <div class="toast-body">
                            <p>@ErrorMessage</p>
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" @onclick="HandleCloseToast"></button>
                    </div>
                </div>
            }
            <div class="mx-auto col-10 col-sm-8 col-md-8 col-lg-8 mt-md-5 pt-md-2">
                <h3 class="my-3">Authenticate yourself</h3>
                <p>SignIn with face Id, pin or fingerprints</p>
                @if (IsAuthenticating)
                {
                    <div class="d-flex mt-4 text-success">
                        <div>
                            <div class="spinner-border" role="status"></div>
                        </div>
                        <span class="ms-3">Authenticate and wait as we try to log you in...</span>
                    </div>
                }
                @if (shouldDisplayAuthButton)
                {
                    <div class="d-flex flex-column">
                        <button class="btn btn-primary d-block fw-bold w-100 bg-white rounded-pill text-black py-2 mt-4" disabled="@(IsAuthenticating)" @onclick="Authenticate">Try again</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>