.left-half {
    background-image: url(../images/snowylodge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.full-height {
    height: 100vh;
}

/* Fade-in and fade-out effect for the toast */
.toast {
    animation: fade-in 1s;
    position: fixed;
    top: 65px;
    right: 1px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

::deep .fw-bold {
    font-weight: 500 !important;
}

@media (max-width: 768px) {
    .full-height {
        height: auto;
    }
}
